.page
  = partial "partials/header"

  #shop-item
    %div.left
      = image_tag "shop/items/big_lowfi/tuta_nera_lowfi.jpg", :"data-src" => "/img/shop/items/big/tuta_nera.jpg"
    %div.right
      %h1.title
        %span
          Black trousers/overalls
      %h2.description
        Description
      %p
        Two-piece high-waist trousers with a removable elastic black band on the waistline. You can remove the band and wear it as double suspenders (sustained to the trousers through bra-hooks) so as to create an overalls.
      %h2.composition
        Size & Composition
      %p
        Small (waist: 66cm)<br />
        Medium (waist: 70cm)<br />
        100% cotton.
      %h2.availability
        Availability
      %p
        1 Piece
      %h2.shipping
        Shipping
      %p
        To Italy: via Poste Italiane, Pacco Celere 3 - delivery within 3 working days: €9.90 <br />
        To EU & rest of the world: place your order. We will hold it and contact you with the shipping/delivery and price details according to your country of destination.

      %p
      %button{"data-celery" => "overalls-black"} BUY NOW
      %script{src: "https://www.trycelery.com/js/celery.js", type: "text/javascript"}
  = partial "partials/footer"



= javascript_include_tag 'main'