!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js{:"xmlns:fb" => "http://ogp.me/ns/fb#"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
		-# To set titles and descriptions globally and for each individual page, see /DOCS.md
		%title flavialarocca official website
		%meta{:content => "We are crafting a completely new exciting website and digital image to enhance the value of the upcoming collection. In the meanwhile follow us on", :name => "description"}
		%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
		%meta{:content => "yes", :name =>"apple-mobile-web-app-capable"}
		%meta{:content => "black", :name => "apple-mobile-web-app-status-bar-style"}
		%meta{:name => "keywords" , :content => "flavialarocca,fashion brand,zip,modular clothes,modular fashion,saving space,saving time,globetrotter,ecosustainable fashion,responsabile fashion,recycled textile, flavia la rocca, flr"}
		%meta{:property=>"og:title", :content=>"Flavialarocca coming soon"}
		%meta{:property=>"og:type", :content=>"website"}
		%meta{:property=>"og:url", :content=>"http://www.flavialarocca.com"}
		%meta{:property=>"og:image", :content=>"http://flavialarocca.com/img/foto.jpg"}
		%meta{:property=>"og:site_name", :content=>"Flavialarocca"}
		%meta{:property=>"og:description", :content=>"We are crafting a completely new exciting website and digital image to enhance the value of the upcoming collection. In the meanwhile follow us on"}
		%meta{:property=>"fb:app_id", :content=>"557055554354175"}
		
		<!-- Favicons and touch icons -->
		<!-- For retina-display iPads -->
		%link{ :href=>"/apple-touch-icon-144x144-precomposed.png", :rel=>"apple-touch-icon-precomposed", :sizes=>"144x144", :type=>"image/png" }
		<!-- For retina-display iPhones -->
		%link{ :href=>"/apple-touch-icon-144x144-precomposed.png", :rel=>"apple-touch-icon-precomposed", :sizes=>"114x114", :type=>"image/png" }
		<!-- For iPad 1 -->
		%link{ :href=>"/apple-touch-icon-72x72-precomposed.png", :rel=>"apple-touch-icon-precomposed", :sizes=>"72x72", :type=>"image/png" }
		<!-- For iPhone 3G, iPod Touch and Android -->
		%link{ :href=>"/apple-touch-icon-57x57-precomposed.png", :rel=>"apple-touch-icon-precomposed", :type=>"image/png" }
		<!-- For Nokia -->
		%link{ :href=>"/apple-touch-icon-original.png", :rel=>"shortcut icon" }
		<!-- For everything else -->
		%link{ :href=>"/favicon.png", :rel=>"shortcut icon", :type=>"image/png" }
		%link{ :href=>"/favicon.ico", :rel=>"shortcut icon", :type=>"image/x-icon" }

		<!-- For Google+ bidirectional linking -->
		-#%link{ :href=>"https://plus.google.com/103695675753742819996", :rel=>"publisher" }
		
		= javascript_include_tag "vendor/modernizr"

		= stylesheet_link_tag "site"

		
	%body
		= partial'partials/tag-manager'
		= yield
		
