#banner
  %h2.title
    %a{href: "http://www.wowcracy.com/en/lab/user/340/project/the-folded-looks-flavialarocca"}
      %span
        SUPPORT THE PROJECT AND PRE-ORDER YOUR LOOK AT

        = image_tag "modulo_wowcracy.jpg"