#collection-gallery
  %h2.title
    %a{href: "https://www.facebook.com/media/set/?set=a.475569332550336.1073741833.117027831737823&type=3"}
      %span
        FW13 preview
  .color-box
    %a{href: "https://www.facebook.com/media/set/?set=a.475569332550336.1073741833.117027831737823&type=3", target: "_blank"}
      .photos
        #photo1.photo
          = image_tag "collections/cover/photo1.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo2.photo
          = image_tag "collections/cover/photo2.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo3.photo
          = image_tag "collections/cover/photo3.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo4.photo
          = image_tag "collections/cover/photo4.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
