#collection-gallery
  %h2.title
    %a{href: "/collections/fw13.html"}
      %span
        Fall/Winter <br />
        2013-2014
  .color-box
    %a{href: "/collections/fw13.html", target: "_blank"}
      .photos
        #photo1.photo
          = image_tag "collections/cover/photo1.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo2.photo
          = image_tag "collections/cover/photo2.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo3.photo
          = image_tag "collections/cover/photo3.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
        #photo4.photo
          = image_tag "collections/cover/photo4.jpg", :alt => "woman standing in Flavilarocca dress", :class => "img"
