#header
  %a{href:"http://flavialarocca.com"}
    #logo
      flavialarocca
  #nav-container
    .container
      %nav#main-menu
        .color-box
        %ul.menu
          %li
            %a#preview-link{href:"#"}
              collections
            %ul
              .color-box
              %li
                %a{href:"/collections/ss14.html"} SS14
              %li
                %a{href:"/collections/fw13.html"} FW13


          %li
            %a#concept-link{href:"http://flavialarocca.com#video-container"}
              concept
          %li
            %a#instagram-link{href:"http://flavialarocca.com#instagram-feed"}
              instagram
          %li
            %a#stores-link{href:"/shop/fw13-list.html"}
              eshop
          %li
            %a#stores-link{href:"/stores.html"}
              stores
          %li
            %a#projects-link{href:"/projects.html"}
              projects
          %li
            %a#presskit-link{href:"/press.html"}
              press
          %li
            %a#presskit-link{href:"/presskit/presskit.html"}
              press kit