#header
  %a{href:"http://flavialarocca.com"}
    #logo
      flavialarocca
  #nav-container
    .container
      %nav#main-menu
        .color-box
        %ul
          %li
            %a#preview-link{href:"http://flavialarocca.com#collection-gallery"}
              collection
          %li
            %a#concept-link{href:"http://flavialarocca.com#video-container"}
              concept
          %li
            %a#instagram-link{href:"http://flavialarocca.com#instagram-feed"}
              instagram
          %li
            %a#preview-link{href:"/shop/list.html"}
              temp shop
          %li
            %a#stores-link{href:"/stores.html"}
              stores
          %li
            %a#presskit-link{href:"/presskit/presskit.html"}
              press kit