#vfno
  %h2.title
    %a{href: "http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno"}
      %span
        THE TALENTS NIGHT
  #vogue-logo
    Vogue Fashion Night Out 2013
  .color-box
    %p
      Buy Talents in One Night<br />
      <small>promoted by</small> <br /><i class="visa">VISA</i><br /><br />
      You will find the new Fall/Winter 2013 collection  at "The Talents Night" temporary store, Via della Spiga 17, Milano.
      A special sale at special prices, just for one night!
      More info on <a href="http://vfno2013.vogue.it/milano/iniziative-speciali/2013/07/visa-e-vfno">visa-e-vfno</a>

