.video-container
  .color-box
    %h2.concept
      MIAMI - SPRING/SUMMER 2014 by flavialarocca
    #video
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "281", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/95415206?title=0&amp;byline=0&amp;portrait=0&amp;color=f7c3dc", :webkitallowfullscreen => "", :width => "500"}