---
title: Index

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends html5 %}

{% block main %}
.page
  #logo
    Flavialarocca
  %h1.desc
    We are crafting a completely new exciting website and digital image to enhance the value of the upcoming Fall/Winter collection. In the meanwhile follow us on

  #frame
    {{ 'foto.jpg' | image_tag: 'alt:woman walking with Flavilarocca coat' }}
  #nav
    %a.button.fb{:href=>"https://www.facebook.com/pages/_flavialarocca_/117027831737823?fref=ts"}
      %span
        _flavialarocca_ facebook
      %i.icon-facebook
    %a.button.in{:href=>"http://instagram.com/flavialarocca_"}
      %span
        flavialarocca_ instagram
      %i.icon-instagram
  #footer
    %span#holder
      Flavia La Rocca
    %span#pi
      P.I 11577371005
    %span#mail
      %a{:href=>"mailto:info@flavialarocca.com"}
        info@flavialarocca.com
{% endblock %}