!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

    %title flavialarocca temporary showroom invitation
    = stylesheet_link_tag 'mailing-list'
  %style
    h1, h2, h3, h4, h5, h6 {color: black !important;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #9E1E62 !important; 
    }
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #D3D6DD !important;
    }
    table td{
    border-collapse: collapse;
    }
    a:link { color: #9E1E62; }
    a:visited { color: #D3D6DD; }
    a:hover { color: #9E1E62; }
  %body
    
    %table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0","width"=>"750"}
      %tr
        %td#externaltd
          %table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0", "width"=>"750"}
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %p.web
                  %a{:href=>"http://flavialarocca.com/newsletters/summersale_tea2013.html?utm_source=newsletter0913&utm_medium=email&utm_campaign=summersale13"}
                    Can't read this email? Click here to view it online
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %h1.title
                  SUMMER SALE + TEA PARTY
                %hr
                %p.subtitle
                  Summer sale code <strong>flrsummerend</strong>
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "logo.png" ,:class=>"logo"
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "newsletter_flr-05.png"
            %tr{"width"=>"750", :valign=>"top"}
              %td.story.blue
                %p.description
                  Ciao  [Name,fallback=] ,<br />
                  per ringraziarti,<br />
                  perchè…mi piace l’idea di vedere indossare i miei capi su una ‘Stilysh Contemporary Woman’’ come te,<br />
                  perchè l’estate è finita ma per noi il colore non ha stagione...<br />
                %p.description
                  ecco un coupon VIP utile per ricevere uno sconto esclusivo del 70% sulle collezioni STRIPES-MANIA e SUMMER ESSENTIAL attualmente in vendita sul temporary store di <a href="http://flavialarocca.com/shop/list.html">flavialarocca.com</a>.<br />
                  E’ sufficiente inserire il codice: <strong>flrsummerlove</strong> al checkout al momento dell’acquisto!<br />
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "newsletter_flr-06.png"
            %tr{"width"=>"750", :valign=>"top"}
              %td.story.blue
                %p.description
                  E se invece i capi preferisci provarli, sei curiosa di dare una sbirciata alla nuova collezione primavera/estate 2014 o vuoi semplicemente passare a dirmi ‘Ciao’...<br />
                  …ti invito ad un evento speciale che si terrà questo weekend!<br />
                  Sabato 12 e domenica 13 ottobre organizzerò un “tea party” presso Spazioriginale in Via Savona 55/A, Milano, dalle 16h alle 19h.<br />
                %p.description
                  Ti aspetto online o di persona,<br />
                %p.description
                  With LoVe,<br />
                  flavia