!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

    %title flavialarocca temporary showroom invitation
    = stylesheet_link_tag 'mailing-list'
  %style
    h1, h2, h3, h4, h5, h6 {color: black !important;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #9E1E62 !important; 
    }
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #D3D6DD !important;
    }
    table td{
    border-collapse: collapse;
    }
    a:link { color: #9E1E62; }
    a:visited { color: #D3D6DD; }
    a:hover { color: #9E1E62; }
  %body
    
    %table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0","width"=>"750"}
      %tr
        %td#externaltd
          %table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0", "width"=>"750"}
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %p.web
                  %a{:href=>"http://flavialarocca.com/newsletters/temporaryshowroom2013.html?utm_source=newsletter0913&utm_medium=email&utm_campaign=temporaryshowroom0913"}
                    Can't read this email? Click here to view it online
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %h1.title
                  SALES CAMPAIGN
                %hr
                %p.subtitle
                  Preview Spring/Summer 2014
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "logo.png" ,:class=>"logo"
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-temporary.png"
                %p.description
                  <strong>Flavialarocca</strong> is a fashion brand for a contemporary conscious woman who loves a minimalist and feminine lines.<br />
                  The collection in based on versatile modules entirely manufactured in Italy with recycled textiles
                  that try to reduce the impact on the environment, save energy and take care of the health of the customers.


            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "invito_temporaryshowroom2013.jpg", class: "small"
                %p.description
                  The “New Talents Temporary Showroom” is a venture born from the collaboration of<br />
                  <a href="http://www.fashtags.it">#FASHTAGS</a>, the online platform, available in both Chinese and English, that promotes and exports fashion's upcoming talents "Made in Italy" to worldwide markets
                  and<br />
                  <a href="http://www.360onequarter.com">360+OneQuarter</a>, an Italian Press Office particularly devoted to supporting new designers and innovative projects.<br /><br />
                  A unique project, propelled by the desire to give newborn brands a chance to be known and get recognized internationally, as well as generate an avant-garde service of commercial mediation based on the interaction of online and offline.<br /><br />
                  The presented brand names have been accurately chosen with the collaboration of <strong>VOGUE TALENTS</strong>.
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                %p.description
                  <strong>MILAN - 18-23 sept - Spazioriginale</strong> Via Savona 55/A<br />
                  <strong>PARIS - 25sep - 4oct - Almax Mannequins Showroom</strong> 35 Rue Réaumur (Le Marais)<br />
                  <strong>MILAN - 5oct - 15sep - Spazioriginale</strong> Via Savona 55/A<br />
                  Opening time: 10am - 7 pm<br /><br />

                  <strong>BRANDS:</strong><br />
                  For clothing: <strong>Flavia La Rocca</strong>, <strong>Caterina Gatta</strong>, <strong>Idiliamà</strong>, <strong>Greta Boldini</strong>, <strong>Marianna Cimini</strong>; for accessories, <strong>Francesco Ballestrazzi</strong> hats.


            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                %a.button{:href=>"http://flavialarocca.com?utm_source=newsletter0913&utm_medium=email&utm_campaign=temporaryshowroom0913"}
                  CHECK THE NEW WEBSITE
