!!! Strict
%html{ :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

    %title flavialarocca preorder on wowcracy.com
    = stylesheet_link_tag 'mailing-list'
  %style
    h1, h2, h3, h4, h5, h6 {color: black !important;}
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}
    h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
    color: #9E1E62 !important; 
    }
    h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
    color: #D3D6DD !important;
    }
    table td{
    border-collapse: collapse;
    }
    a:link { color: #9E1E62; }
    a:visited { color: #D3D6DD; }
    a:hover { color: #9E1E62; }
  %body
    
    %table#external{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0","width"=>"750"}
      %tr
        %td#externaltd
          %table#main{'cellpadding'=>"0", 'cellspacing'=>"0" ,'border'=>"0", "width"=>"750"}
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %p.web
                  %a{:href=>"http://flavialarocca.com/newsletters/wowcracy.html"}
                    Can't read this email? Click here to view it online
            %tr{"width"=>"750", :valign=>"top"}
              %td
                %h1.title
                  Newsletter, WOWCRACY
                %hr
                %p.subtitle
                  "The Folded Looks"
            %tr{"width"=>"750", :valign=>"top"}
              %td
                = image_tag "logo.png" ,:class=>"logo"
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                = image_tag "newsletter_flr-08.png"
                %p.description
                  "The Folded Looks" is the summary of flavialarocca's concept. <br />
                  Four modules that disclose eight different looks. All in a clutch.<br />
                  It means that you can have in a very small space the possibility to dress up in eight different ways according to what it's happening to you or around you.  <br />
                  You can go from an 'office outfit' composed of a top and a pencil skirt, to a midi dress more adapt to a 'cocktail' or a 'disco outfit' with a crop top and a miniskirt. <br />
                  SUPPORT THE PROJECT AND PRE ORDER YOUR LOOK AT
            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                %a.button{:href=>"http://www.wowcracy.com/en/lab/user/340/project/the-folded-looks-flavialarocca#"}
                  WOWCRACY.COM

            %tr{"width"=>"750", :valign=>"top"}
              %td.story
                %a.button{:href=>"http://flavialarocca.com?utm_source=newsletter1013&utm_medium=email&utm_campaign=pressday1013"}
                  CHECK THE NEW WEBSITE
