.page
  = partial "partials/header"

  #shop-item
    %div.left
      = image_tag "shop/items/big_lowfi/milla_jeans.jpg", :"data-src" => "/img/shop/items/big/milla_jeans.jpg"
    %div.right
      %h1.title
        %span
          Double-faced hooded parka
      %h2.price
        %span{:style=>"font-size: 24px"}
          487,50€

      %h2.description
        Description
      %p
        This reversible parka consists of an exterior dark jacquard face and an interior light blue face in PVC. It features a large hood in light blue PVC, a drawstring waist and hem, and two hip pockets
      %h2.composition
        Size
      %p
        Medium <b />
        Fits true to size.
      %h2.composition
        Composition & Care instructions
      %p
        Exterior: 34% cotton; 32% polycarbonate; 14% wool; 12% polyethylene; 8% viscose.
        Interior and hood: 100% PVC <b />
        Dry clean - any dry cleaning solvent other than trichloroethylene may be safely used. Do not bleach. Iron, low. Do not tumble dry
      %h2.availability
        Availability
      %p
        1 Piece
      %h2.shipping
        Shipping
      %p
        To Italy: via Poste Italiane, Pacco Celere 3 - delivery within 3 working days: €9.90 <br />
        To EU & rest of the world: place your order. We will hold it and contact you with the shipping/delivery and price details according to your country of destination.

      %p
      %button{"data-celery" => "3-dress-denim"} BUY NOW
      %script{src: "https://www.trycelery.com/js/celery.js", type: "text/javascript"}
  = partial "partials/footer"



= javascript_include_tag 'main'